html {
    scrollbar-width: none; /* Firefox için */
    -ms-overflow-style: none; /* Internet Explorer için */
  }
  
  body::-webkit-scrollbar {
    width: 0; /* WebKit (Chrome, Safari, Edge) için */
  }
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    text-decoration: none;
    outline: none;
    border: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

section,
span,
p {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    
}
/* !-------------------------------------------------- */
body{
    background-color: #000;
}
/* !Başlık--------------------- */
.about-title {
    margin: 60px 0;
}
.about-title h2 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-left:-20px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace, cursive;
}
.about-title :hover{
    color: #24CAAC;
}
.about-title h2::after {
    content: "";
    width: 40px;
    height: 3px;
    background-color: #ffffff;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}
/* !tasarım sol--------------------- */
.mobil {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mobil-img {
    width: 35%;
}
.mobil-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: -50px;
}
.mobil-text {
    width: 35%;
}
.mobil-text p {
    font-size: 17px;
    text-align: center;
    color: #ffffff;
}
button{
    margin-top: 10%;
    margin-bottom: 3%;
    width:150px;
    height: 50px;
    border-radius: 50px;
    background-color: #24CAAC;
    color: white;
    margin-left: 70%;
}
/* !Tasarım sağ--------------------- */
.mobill {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mobill-img {
    width: 35%;
}
.mobill-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: -50px;
}
.mobill-text {
    width: 35%;
}
.mobill-text p {
    font-size: 17px;
    text-align: center;
    color: #ffffff;
}
.button1{
    margin-top: 20%;
    margin-bottom: 3%;
    width:150px;
    height: 50px;
    border-radius: 50px;
    background-color: #24CAAC;
    color: white;
    margin-left:0%;
}
/* !Responsive--------------------- */
@media screen and (max-width: 1367px) {
    body {
        width: 100%; /* Ekranı %135 genişlet */
        max-width: 100%; /* Maksimum genişlik %135 olacak */
        margin: 0; /* Kenar boşluğunu sıfırla */
        overflow-x: hidden; /* Yatay kaydırmayı gizle */
      }
    /* !Başlık--------------------- */
    .about-title{
        width: 100%;
        margin-left: 25px;
    }
    /* !tasarım sol--------------------- */
    .mobil{
        flex-direction: column;
    }
    .mobil-img{
        width: 100%;
        padding-left: 25%;
    }
    .mobil-text{
        width: 90%;
        padding-top: 5%;
    }
    .mobil-text button{
        margin-left:200px;
    }
    /* !tasarım sağ--------------------- */
    .mobill{
        flex-direction: column-reverse;
    }
    .mobill-img{
        width: 100%;
        padding-left: 25%;
    }
    .mobill-text{
        width: 90%;
        padding-top: 5%;
    }
    
 }
